@page

@model RecordShop.Records.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>
    <p>
        <a asp-page="Create">Create New</a>
    </p>
    <form>
        <p>
            @*<select asp-for="RecordGenre" asp-items="Model.Genres">
                    <option value="">All</option>
                </select>*@
            <div>
                Title: <input type="text" name="SearchString" style="color: black;" />
                <input type="submit" value="Filter" style="background-color: #d1d1d1; color: black;" />
            </div>
        </p>
    </form>
    <table class="table">
        <thead>
            <tr>
                
                    <th>
                        <h4>
                            @Html.DisplayNameFor(model => model.Record[0].Name)
                                            </h4>
                </th>
                <th>
                    <h4> @Html.DisplayNameFor(model => model.Record[0].Genre)</h4>
                </th>
                <th>
                    <h4> @Html.DisplayNameFor(model => model.Record[0].Artist)</h4>
                </th>
                <th>
                    <h4> @Html.DisplayNameFor(model => model.Record[0].Description)</h4>
                </th>
                <th>
                    <h4> @Html.DisplayNameFor(model => model.Record[0].Price)</h4>
                </th>
                @*<th>
                    <h4> @Html.DisplayNameFor(model => model.Record[0].ImageUrl)</h4>
                </th>
                <th>
                    <h4> @Html.DisplayNameFor(model => model.Record[0].ImageThumbnailUrl)</h4>
                </th>*@
                <th>
                    <h4> @Html.DisplayNameFor(model => model.Record[0].isPreferredGenre)</h4>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Record)
            {
            <tr>

                <td>
                    <a href="Home/Album?RecordId=@item.RecordId"><img src="@item.ImageUrl" width="150" hieght="150" /></a>
                    <h5> @Html.DisplayFor(modelItem => item.Name)</h5>
                </td>
                <td>
                    <h5>@Html.DisplayFor(modelItem => item.Genre)</h5>
                </td>
                <td>
                    <h5>@Html.DisplayFor(modelItem => item.Artist)</h5>
                </td>
                <td>
                    <h5> @Html.DisplayFor(modelItem => item.Description)</h5>
                </td>
                <td>
                    <h5> @Html.DisplayFor(modelItem => item.Price)</h5>
                </td>
                @*<td>
            <h5>@Html.DisplayFor(modelItem => item.ImageUrl)</h5>
        </td>
        <td>
            <h5>@Html.DisplayFor(modelItem => item.ImageThumbnailUrl)</h5>
        </td>*@
                <td>
                    <h5> @Html.DisplayFor(modelItem => item.isPreferredGenre)</h5>
                </td>
                <td>
                    <h4>
                        <a asp-page="./Edit" asp-route-id="@item.RecordId">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.RecordId">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.RecordId">Delete</a>
                    </h4>
                </td>
            </tr>
            }
        </tbody>
    </table>
